<div class="item-list">
  {{#each this}}
  <div class="item">
    <div class="item-name">{{name}}</div>
    <div class="item-img"><img src="{{img_url}}"/></div>
    <div class="item-cat">{{category}}</div>
    <div class="item-old-price">{{old_price}}</div>
    <div class="item-new-price">{{new_price}}</div>
    <div class="item-discount">{{discount}}</div>
    <div class="item-date">{{date}}</div>
    <div class="item-cond">{{condition}}</div>
  </div>
  {{/each}}
</div>